html {
    font-family: roboto;
}
.container-1 {
    background-color: #1F2937;
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    


}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid salmon;
}
#logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;; 
    border: 1px solid rgb(120, 94, 91);

}
#menu {
    flex: 1;
    border: 1px solid rgb(80, 63, 61);  
    display: flex;
    justify-content: right;
    gap: 20px;
}
.menu .link {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid salmon;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

 



}
#title {

    flex: 1;
    text-align: left;


}
.singup {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 5px;


}
.intro #imgintro {
    flex: 1;
  
}
.container-2 {
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(165, 122, 65);
    border: 2px solid #3882F6;
    display: flex;
}
#subtitle {

    flex: 1;
    text-align: center;
    font-size: 36px;
    color: #1F2937;

}
.container-3 {
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(165, 122, 65);
    border: 2px solid #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;



}
.container-3 div {
    border: 3px solid #3882F6;
    border-radius: 5px;
    flex: 1;
    height: 150px;
}
.box-text {
    color: black;
    text-align: center;
    display: flex;

}